:root {
  --sidebar-width: 200px;
  --navbar-height: 43px;
  --color1: #ffffff;
  --color2: #eeeded;
  --color3: #cfcdcd;

}

#logo {float: left; margin-right: 30px;}
#myAccountImage {
	height: 20px;
	margin-top: 10px;
	margin-right: 10px;

}
#toggleAccountInfo, #toggleLoginInfo {
	display: none;
}
#toggleAccountInfo {
	position: fixed;
	top: 45px;
	right: 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: var(--color3);
	color:  var(--color2);
}
#toggleAccountInfo a {
	background-color: var(--color1);
	padding: 10px;
	border-radius: 5px;
}
form#logout {
	max-height: 30px;
	margin: 0px;
}

#registrationForm {
	margin-bottom: 300px;
}

#loginStatus, #username, #myAccountImage, #logoutDiv, #loginPrompt, #toggleLoginInfo, #LoginInfo {
	float: right;
}

#sidebar {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	max-width: var(--sidebar-width);
}

.sidebar_item {
    margin-top: 0px;
    margin-bottom: 40px;
}

.HSidebarSiteImg {
	max-height: 25px;
}

#footer {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: var(--sidebar-width);
}

#main {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
}

.w3-main {
    margin-left: var(--sidebar-width);
    margin-top: var(--navbar-height);
}

.w3-sidebar {
    width: var(--sidebar-width);
}
 
ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.menubar {float: left;}

table.footer { 
    width: 100%; 
    float: bottom;
}

a.footer_item:link, a.footer_item:visited {
    display: block;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}


.rbac_table th, .rbac_table td {
    padding: 3px;
}

.rbac_table tr:nth-child(even) {
    background-color: #DDDDDD;
}

.rbac_table th {
    background-color: #DDDDDD;
}