:root {
  --sidebar-width: 200px;
  --navbar-height: 43px;
}

#logo {float: left; margin-right: 30px;}

#sidebar {
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
	text-align: center;
	max-width: var(--sidebar-width);
}

.sidebar_item {
    margin-top: 0px;
    margin-bottom: 40px;
}

.HSidebarSiteImg {
	max-height: 25px;
}

#footer {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: var(--sidebar-width);
}

#main {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
}

.w3-main {
    margin-left: var(--sidebar-width);
    margin-top: var(--navbar-height);
}

.w3-sidebar {
    width: var(--sidebar-width);
}
 
ul.menubar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.menubar {float: left;}

table.footer { 
    width: 100%; 
    float: bottom;
}

a.footer_item:link, a.footer_item:visited {
    display: block;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}


